header.header
  nav.header__menu
    ul.header__nav
      li.header__elem
        a(href="#home").header__link Home
      li.header__elem
        a(href="#about").header__link About
      li.header__elem
        a(href="#travel").header__link Travel
