section.callback
  .callback__wrap
    .callback__descr-block
      h3.callback__title BOOK A DISCOUNTER TOUR
      p.callback__descr Mauris ultrices eros in cursus turpis
    .callback__form-input
      input(type="text" placeholder="Name").callback__input
    .callback__form-input
      input(type="email" placeholder="Email").callback__input
    .callback__form-submit
      input(type="submit" value="Send").callback__submit
