section.travel#travel
  .container
    .travel__title TRAVEL WITH OUR COMPANY
    .travel__sub-title
      | Lorem ipsum dolor sit amet, consectetur adipiscing elit,
      | sed do eiusmod tempor incididunt ut labore et dolore
    .travel__post-wrap
      .travel__post
        .travel__img
          img(src="images/travel/travel-1.png")
        .travel__post-title COMFORTABLE PREMIUM CLASS ACCOMMODATIONS
        .travel__post-descr
          | Lorem ipsum dolor sit amet, consectetur adipiscing
          | elit, sed do eiusmod tempor incididunt ut labore et
          | dolore magna aliqua. Ut enim ad minim veniam.
        .travel__post-box
          a(href="#").travel__post-btn View Photos
      .travel__post
        .travel__img
          img(src="images/travel/travel-2.png")
        .travel__post-title WEEKLY GROUP ENTERTAINMENT AND EXCURSIONS
        .travel__post-descr
          | Lorem ipsum dolor sit amet, consectetur adipiscing
          | elit, sed do eiusmod tempor incididunt ut labore et
          | dolore magna aliqua. Ut enim ad minim veniam.
        .travel__post-box
          a(href="#").travel__post-btn View Photos
