section.about#about
  .container
    .about__wrap
      .about__descr-block
        .about__sub-title About us
        .about__title
          | WE WILL TURN YOUR WORK INTO
          |  AN EXCITING JOURNEY.
        .about__descr
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit,
          | sed do eiusmod tempor incididunt ut labore et dolore
          | magna aliqua. Faucibus purus in massa tempor nec
          | feugiat nisl pretium fusce. Ac turpis egestas integer eget.
          | Felis bibendum ut tristique et egestas quis ipsu.
        .about__descr
          | sa massa ultricies mi quis hendrerit dolor magna. Facilisis
          | leo vel fringilla est ullamcorper eget nulla facilisi etiam.
          | Lectus arcu bibendum at varius. In massa tempor nec
          | feugiat nisl. Mattis ullamcorper velit sed ullamcorper
          | morbi tincidunt ornare massa eget. Adipiscing elit ut
          | aliquam purus. Nunc pulvinar sapien et ligula ullam
        .about__btn-wrap
          a(href="#").about__more-btn More info
      .about__img-block
        img(src="images/about/about-img.png")
