footer.footer
  .footer__nav
    ul.footer__menu
      li.footer__elem
        a(href="#home").footer__item Home
      li.footer__elem
        a(href="#about").footer__item About
      li.footer__elem
        a(href="#gallery").footer__item Gallery
      li.footer__elem
        a(href="#travel").footer__item Travel
  .footer__copyright
    p.footer__title Business travel
    p.footer__descr Travel 2019 | All rights reserved
