section.main#home
  .main__banner
    .main__descr-block
      h1.main__title Business Travel
      p.main__descr For entrepreneurs and freelancers
      .main__btn-wrap
        a.main__more-btn More info
    .main__socials
      a(href="#").main__social Instagram
      a(href="#").main__social Twitter
      a(href="#").main__social Facebook
